.card-game {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo_console {
        height: 30px;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.4);

        img {
            height: 100%;
        }
    }

    .text {
        font-size: 18px;
        text-align: center;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
    }
}