@import '../../variables';

.najjarPrototype {
    @media screen and (max-width: $mobile) {
        >.left {
            font-size: 38px;
        }
    }
}

.najjarDoc {
    .najjarDocButton {
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

// .jlf {
//     background-image: url('./images/estampaJLF.png');
// }