@import '../../../variables';

.landingHatchGamesContent {
    display: flex;
    justify-content: space-between;
    height: 300px;
    box-sizing: border-box;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
        padding: 0px 12px;
        min-height: 50vh;
        justify-content: space-around;
    }

    >.left {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color;

        font-size: 50px;
    }

    >.right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-color;
        width: 600px;

        @media screen and (max-width: $mobile) {
            padding: 0px;
            width: inherit;
            text-align: center;
        }

        >.text {
            font-size: 24px;
            margin-bottom: 30px;

            @media screen and (max-width: $mobile) {
                font-size: 22px;
            }
        }
    }
}