@import '../../../variables';

.landing-hero-container {
    position: relative;
    height: 400px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient($primary-dark, $primary);

    .content {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 600px;
            font-size: 52px;
            color: $text-color;
        }

        .right {
            display: flex;
            font-size: 28px;
            text-decoration: none;
            color: $text-color;

            .hatch {
                margin-left: 8px;
                font-family: 'Righteous', cursive;
            }

            .image {
                height: 28px;
                margin-left: 6px;
            }
        }
    }

    .what-is {
        position: absolute;
        font-size: 28px;
        padding: 8px 12px;
        background-color: white;
        box-shadow: 5px 5px 9px black;
        border-radius: 12px;
        top: 100%;
        transform: translateY(-50%);
    }
}